@media (max-width: 1100px) {
  .banner {
    padding: 40px;
    flex-direction: column;
    align-items: flex-start;
  }
  .content {
    margin-top: 150px;
  }
  .clip {
    position: relative;
    right: initial;
    bottom: initial;
    margin: 40px 0;
  }
  .social-links {
    position: relative;
    bottom: initial;
    left: initial;
  }
  .navigation {
    padding-right: 40px;
  }
}
/* For Tablet */
@media (max-width: 768px) {
  .empty-cart {
    position: absolute;
    top: 50%;
    left: 30%;
    right: 10%;
    color: white;
  }
  .ticket-cart {
    height: 100vh;
    width: 30vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #120e0f;
    transition: 0.3s ease-in-out;
  }
}
/* For Mobile Devices */
@media (max-width: 425px) {
  .content .imgText {
    max-width: 300px;
  }
  .ticket-cart {
    height: 100vh;
    width: 46vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #120e0f;
    transition: 0.3s ease-in-out;
  }
}
@media (max-width: 375px) {
  .content p {
    color: white;
    font-size: 1.1em;
    line-height: 1.75em;
  }
}
@media (max-width: 320px) {
  .content .imgText {
    max-width: 257px;
  }
  .content p {
    color: white;
    font-size: 1em;
    line-height: 1.75em;
  }
  .ticket-cart {
    height: 100vh;
    width: 60vw;
    position: absolute;
    right: 0;
    top: 0;
    background-color: #120e0f;
    transition: 0.3s ease-in-out;
  }
}
